include README.md README_en.md requirements.txt requirements.dev.txt
include botcraft/py.typed
recursive-include botcraft/resources *.yml
recursive-include docs *.md
include example_plugins/echo.py
recursive-include example_plugins/qq_jrrp *.py *.json *.yml LICENSE NOTICE
